* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Nunito";
  src: url("./public/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Nunito";
  src: url("./public/Nunito-Light.ttf") format("truetype");
  font-weight: 300;
}

:root {
  --bgColor: #1f1f1f;
  --text: #d1d1d1;
  --textAccent: #fff;
  --button: #283144;
  --buttonHover: #3d4d6e;
}

html {
  min-height: 100%;
  font-size: 14px;
}

body {
  background: var(--bgColor);
  background: linear-gradient(
    152deg,
    var(--bgColor) 0%,
    var(--button) 100%
  );
  font-family: Nunito;
  color: var(--text);
}

#__next {
  height: inherit;
}

.textAccent {
  color: var(--textAccent);
}

@media screen and (min-width: 450px) {
  html {
    font-size: 16px;
  }
}
