* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[theme="dark-mode"] {
  --bg-color: #212429;
  --text-color: rgba(255, 255, 255, 0.541);
  --title-color: white;
  --line-color: rgba(255, 255, 255, 0.055);
}

body[theme="ligth-mode"] {
  --bg-color: white;
  --text-color: #7b7b7b;
  --title-color: #61616b;
  --line-color: #efefef;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100%;
    min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #212429;
    --text-color: rgba(255, 255, 255, 0.541);
    --title-color: white;
    --line-color: rgba(255, 255, 255, 0.055);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --bg-color: white;
    --text-color: #7b7b7b;
    --title-color: #61616b;
    --line-color: #efefef;
  }
}
